%header#header.header.__yellow{role: "banner"}
  .ctn
    = haml 'views/layouts/_header'.to_sym

%main#main.main{role: "main"}

  %section.section.p-t_6.p-b_4{role: "region", "aria-label" => "Article"}
    .ctn
      %header.section_header.m-b_1
        %h1.tx.__upper.__minor Новости
        %nav.breadcrumbs
          %a{href: "/", class: "breadcrumbs_i"} Главная
          %i.fa.fa-chevron-right
          %span.breadcrumbs_i Новости
      %section.section_main.m-b_3
        %nav.p-t_3.p-b_2.cf
          = haml 'views/common/_article_filter'.to_sym
        .articles.__news
          %article.articles_i.__green.brick
            .articles_i_announcement
              .grid
                .grid-i.__grid-2>
                  .articles_i_date
                    %p.gamma 7 НОЯБРЯ
                    %p.gamma 2013
                .grid-i.__grid-2>
                  .articles_i_photo
                    %img{src: "/assets/images/blank.gif", width: "166", height: "130", class: "c-bg __gray"}
                .grid-i.__grid-7>
                  .articles_i_caption
                    %h2.articles_i_caption_t Новый магазин LEGO в Санкт-Петербурге
                    %p В Санкт-Петербурге в ТРК «Лондон Молл» открылся новый магазин LEGO.
                    %p
                      %a{href: "#", class: "articles_i_caption_more", data: {url: "/data/show_article"}} далее
          %article.articles_i.__red.brick
            .articles_i_announcement
              .grid
                .grid-i.__grid-2>
                  .articles_i_date
                    %p.gamma 7 НОЯБРЯ
                    %p.gamma 2013
                .grid-i.__grid-2>
                  .articles_i_photo
                    %img{src: "/assets/images/blank.gif", width: "166", height: "130", class: "c-bg __gray"}
                .grid-i.__grid-7>
                  .articles_i_caption
                    %h2.articles_i_caption_t Новый магазин LEGO в Санкт-Петербурге
                    %p В Санкт-Петербурге в ТРК «Лондон Молл» открылся новый магазин LEGO.
                    %p
                      %a{href: "#", class: "articles_i_caption_more", data: {url: "/data/show_article"}} далее
          %article.articles_i.__lime.brick
            .articles_i_announcement
              .grid
                .grid-i.__grid-2>
                  .articles_i_date
                    %p.gamma 7 НОЯБРЯ
                    %p.gamma 2013
                .grid-i.__grid-2>
                  .articles_i_photo
                    %img{src: "/assets/images/blank.gif", width: "166", height: "130", class: "c-bg __gray"}
                .grid-i.__grid-7>
                  .articles_i_caption
                    %h2.articles_i_caption_t Новый магазин LEGO в Санкт-Петербурге
                    %p В Санкт-Петербурге в ТРК «Лондон Молл» открылся новый магазин LEGO.
                    %p
                      %a{href: "#", class: "articles_i_caption_more", data: {url: "/data/show_article"}} далее
          %article.articles_i.__orange.brick
            .articles_i_announcement
              .grid
                .grid-i.__grid-2>
                  .articles_i_date
                    %p.gamma 7 НОЯБРЯ
                    %p.gamma 2013
                .grid-i.__grid-2>
                  .articles_i_photo
                    %img{src: "/assets/images/blank.gif", width: "166", height: "130", class: "c-bg __gray"}
                .grid-i.__grid-7>
                  .articles_i_caption
                    %h2.articles_i_caption_t Новый магазин LEGO в Санкт-Петербурге
                    %p В Санкт-Петербурге в ТРК «Лондон Молл» открылся новый магазин LEGO.
                    %p
                      %a{href: "#", class: "articles_i_caption_more", data: {url: "/data/show_article"}} далее
          %article.articles_i.__yellow.brick
            .articles_i_announcement
              .grid
                .grid-i.__grid-2>
                  .articles_i_date
                    %p.gamma 7 НОЯБРЯ
                    %p.gamma 2013
                .grid-i.__grid-2>
                  .articles_i_photo
                    %img{src: "/assets/images/blank.gif", width: "166", height: "130", class: "c-bg __gray"}
                .grid-i.__grid-7>
                  .articles_i_caption
                    %h2.articles_i_caption_t Новый магазин LEGO в Санкт-Петербурге
                    %p В Санкт-Петербурге в ТРК «Лондон Молл» открылся новый магазин LEGO.
                    %p
                      %a{href: "#", class: "articles_i_caption_more", data: {url: "/data/show_article"}} далее

      %footer.section_footer
        %nav.tx.__right
          = haml 'views/common/_article_pagination'.to_sym


  %section.summary.p-t_5.p-b_6{role: "region", "aria-label" => "Summary info"}
    .m-b_6
      = haml 'views/common/_slider'.to_sym
    .ctn
      = haml 'views/common/_summary'.to_sym