%header#header.header.__yellow{role: "banner"}
  .ctn
    = haml 'views/layouts/_header'.to_sym

%main#main.main{role: "main"}

  %section.section.p-t_6{role: "region", "aria-label" => "Basket"}
    .ctn
      %header.section_header.m-b_2
        %h1.tx.__upper.__minor.tx.__center Ваш заказ
      %section.section_main
        .basket

          %table.table.m-b_3
            %thead
              %tr
                %th Фото
                %th Наименование
                %th Количество
                %th Скидка
                %th Итоговая стоимость
                %th &nbsp;
            %tbody
              - 1.upto(2) do
                %tr
                  %td
                    %a{href: "/catalog_show"}
                      %img{src: "/assets/images/fake/catalog_item_#{rand(1..12)}.jpg"}
                  %td
                    %p.table_number Звездные войны 23523
                    %p.table_name
                      %a{href: "/catalog_show"} Скоростной низколетящий десантный корабль и транспортный шагоход
                  %td
                    .form_number
                      %input.form_text.form_el.__block{type: "text", value: "1"}
                      .form_number_controls
                        %a{href: "#", class: "form_number_controls_i __up"} +
                        %a{href: "#", class: "form_number_controls_i __down"} -
                  %td
                    %p -5%
                  %td
                    .basket_oldprice
                      %span.format-number
                        = rand(5000..10000)
                      руб.
                    .price.__rub.__m.format-money
                      = rand(500..2000)
                  %td
                    .basket_action
                      %a.form_button.__gray.__xs.basket_action_i{href: "#"}
                        %i.fa.fa-times
                        Удалить
                      -# %a.form_button.__orange.__xs.basket_action_i{href: "#"} Отложить
              -# %tr
                %td.table_t{colspan: "6"}
                  %h2 Отложенные ранее
              -# %tr
                %td
                  %a{href: "/catalog_show"}
                    %img{src: "/assets/images/fake/catalog_item_#{rand(1..12)}.jpg"}
                %td
                  %p.table_number Звездные войны 23523
                  %p.table_name
                    %a{href: "/catalog_show"} Скоростной низколетящий десантный корабль и транспортный шагоход
                %td
                  .form_number
                    %input.form_text.form_el.__block{type: "text", value: "1"}
                    .form_number_controls
                      %a{href: "#", class: "form_number_controls_i __up"} +
                      %a{href: "#", class: "form_number_controls_i __down"} -
                %td
                  %p -5%
                %td
                  .basket_oldprice
                    %span.format-number
                      = rand(5000..10000)
                    руб.
                  .price.__rub.__m.format-money
                    = rand(500..2000)
                %td
                  .basket_action
                    %a.form_button.__red.__xs.basket_action_i{href: "#"} Добавить
              %tr
                %td.table_t{colspan: "6"}
                  %h2 Купить со скидкой
              - 1.upto(2) do
                %tr
                  %td
                    %a{href: "/catalog_show"}
                      %img{src: "/assets/images/fake/catalog_item_#{rand(1..12)}.jpg"}
                  %td
                    %p.table_number Звездные войны 23523
                    %p.table_name
                      %a{href: "/catalog_show"} Скоростной низколетящий десантный корабль и транспортный шагоход
                  %td
                    .form_number
                      %input.form_text.form_el.__block{type: "text", value: "1"}
                      .form_number_controls
                        %a{href: "#", class: "form_number_controls_i __up"} +
                        %a{href: "#", class: "form_number_controls_i __down"} -
                  %td
                    %p -5%
                  %td
                    .basket_oldprice
                      %span.format-number
                        = rand(5000..10000)
                      руб.
                    .price.__rub.__m.format-money
                      = rand(500..2000)
                  %td
                    .basket_action
                      %a.form_button.__red.__xs.basket_action_i{href: "#"} Добавить

          .grid.m-b_6
            .grid-i.__grid-5>
              %article
                %p Нужна помощь в оформлении заказа?
                %p Перезвоните нам 8 (495) 651-62-85
            .grid-i.__grid-5
              .tx.__right
                .basket_promo.m-b_3
                  %form.form
                    .basket_promo_i>
                      %span.tx.__xs.d-ib.va-m Введите код купона:
                    .basket_promo_i>
                      %input.form_text{type: "text", placeholder: "00000000"}
                    .basket_promo_i>
                      %a.form_button.__red.__xm{href: "#"} Применить код
                .basket_total
                  %span.basket_total_t Стоимость со скидкой
                  .price.__rub.__l.format-money
                    = rand(500..2000)
                %p.tx.__xs.__center Без учета доставки

          .m-b_4
            %a{href: "#"}
              %img.va-t.c-bg.__gray{src: "/assets/images/blank.gif", width: "100%", height: 150, alt: ""}

          .basket_steps

            .basket_steps_i.__close
              .basket_steps_i_t{data: {number: 1}} Кому доставить
              .basket_steps_i_body
                %p.m-b_1 Мы гарантируем кофиденциальность ваших персональных данных. Все поля обязательны для заполнения.
                %form.form
                  .m-b_1
                    .form_row>
                      %label.form_label.form_el.__block.tx.__xs
                        %b Имя
                      %input.form_text.form_el.__block{type: "text"}
                      %p.tx.__xs как к вам обращаться?
                    .form_row>
                      %label.form_label.form_el.__block.tx.__xs
                        %b E-mail
                      %input.form_text.form_el.__block{type: "text"}
                      %p.tx.__xs сюда мы отправим детали заказа
                    .form_row>
                      %label.form_label.form_el.__block.tx.__xs
                        %b Телефон
                      %input.form_text.__phone.form_el.__block{type: "text"}
                      %p.tx.__xs по нему вам позвонит курьер
                    .form_row>
                      %label.form_label.form_el.__block.tx.__xs
                        %b Удобное время для звонка
                      %input.form_text.form_el.__block{type: "text"}
                      %p.tx.__xs здесь вы&nbsp;можете указать предпочтительное время для связи с&nbsp;вами
                  %a.form_button.__red.__l{href: "#"} Заказать и уточнить детали

            .basket_steps_i.__close
              .basket_steps_i_t{data: {number: 2}} Мои привилегии
              .basket_steps_i_body
                %p.m-b_1 Мы гарантируем кофиденциальность ваших персональных данных. Все поля обязательны для заполнения.
                %form.form
                  .m-b_1
                    .form_row>
                      %label.form_label.form_el.__block.tx.__xs
                        %b Тип карты
                      .form_select.form_el.__fake.__block
                        %p &nbsp;
                        %select.form_select.form_el.__real
                          %option{selected: "selected"} карта почётного клиента
                          %option карта почётного клиента
                          %option карта почётного клиента
                          %option карта почётного клиента
                    .form_row>
                      %label.form_label.form_el.__block.tx.__xs
                        %b Карта почётного клиента
                      %input.form_text.__card.form_el.__block{type: "text"}
                      %p.tx.__xs Номер указан под штрих-кодом
                      %p.tx.__xs
                        %a{href: "#"} Получить карту почётного клиента
                    .form_row>
                      %label.form_label.form_el.__block.tx.__xs
                        %b Бонусный код
                      %input.form_text.form_el.__block{type: "text"}
                      %p.tx.__xs Есть бонус-код? Введите его сюда!
                  %a.form_button.__red.__l{href: "#"} Продолжить

            .basket_steps_i.__close
              .basket_steps_i_t{data: {number: 3}} Куда доставить
              .basket_steps_i_body
                %form.form
                  .m-b_1
                    .form_row>
                      %label.form_label.form_el.__block.tx.__xs
                        %b Город
                      .form_select.form_el.__fake.__block
                        %p &nbsp;
                        %select.form_select.form_el.__real
                          %option{selected: "selected"} Смоленск
                          %option Москва
                          %option Магадан
                    .form_row>
                      %label.form_label.form_el.__block.tx.__xs
                        %b Способ доставки
                      .form_select.form_el.__fake.__block
                        %p &nbsp;
                        %select.form_select.form_el.__real.js-basket-delivery
                          %option{selected: "selected", value: "pickup"} Самовывоз из магазина
                          %option{value: "courier"} Курьером, бесплатно
                    .basket_delivery
                      .basket_delivery_i.__pickup{style: "display: block;"}

                        .form_row.__s>                          
                          .basket_delivery_i_list
                            - 1.upto(3) do
                              .basket_delivery_i_list_i
                                %span.form_radio.form_el.__fake
                                  %input.form_radio.form_el.__real{type: "radio", name: "radio1"}
                                %p.tx.__xs СТЦ "МЕГА Химки"
                                %p.tx.__xs.__muted Химки, 8 мкр., 5 км Ленинградского шоссе, пав. 5020S, 1 этаж
                                %div{style: "width: 50px;"}
                                  .count.__l
                              .basket_delivery_i_list_i
                                %span.form_radio.form_el.__fake
                                  %input.form_radio.form_el.__real{type: "radio", name: "radio1"}
                                %p.tx.__xs ТД "ГУМ"
                                %p.tx.__xs.__muted Красная площадь, 3
                                %div{style: "width: 50px;"}
                                  .count.__m
                              .basket_delivery_i_list_i
                                %span.form_radio.form_el.__fake
                                  %input.form_radio.form_el.__real{type: "radio", name: "radio1"}
                                %p.tx.__xs ТРК "Атриум"
                                %p.tx.__xs.__muted Земляной вал, 33 (1 этаж, №1.05)
                                %div{style: "width: 50px;"}
                                  .count.__s
                          
                        .form_row.__l>
                          #YMapsID{style: "width: 100%; height: 400px;"}
                          :javascript
                            ymaps.ready(function () { 
                              
                              var myMap = new ymaps.Map('YMapsID', {
                                center: [55.8, 37.6],
                                zoom: 16
                              });
                              
                              // Создание метки 
                              var myPlacemark = new ymaps.Placemark(
                                [55.8, 37.6]
                              );

                              // Добавление метки на карту
                              myMap.geoObjects.add(myPlacemark);    
                                
                            });
                      
                      .basket_delivery_i.__courier
                        .form_row.__l>
                          %label.form_label.form_el.__block.tx.__xs
                            %b Адрес доставки
                          %textarea.form_textarea.form_el.__block{rows: 5}
                  %a.form_button.__red.__l{href: "#"} Продолжить

            .basket_steps_i.__close
              .basket_steps_i_t{data: {number: 4}} Как оплатить
              .basket_steps_i_body.p-r
                %form.form
                  .m-b_1
                    %label.form_label.tx.__xs
                      %span.form_radio.form_el.__fake
                        %input.form_radio.form_el.__real{type: "radio", name: "radio2"}
                      &nbsp;
                      Безналичный расчет для юр. лиц
                  .m-b_1
                    %label.form_label.tx.__xs
                      %span.form_radio.form_el.__fake
                        %input.form_radio.form_el.__real{type: "radio", name: "radio2"}
                      &nbsp;
                      Оформление товара в кредит
                  .m-b_1
                    %label.form_label.tx.__xs
                      %span.form_radio.form_el.__fake
                        %input.form_radio.form_el.__real{type: "radio", name: "radio2"}
                      &nbsp;
                      %b
                        Кредитной картой через интернет
                        %span.tx.__major (скидка 5%!)
                  .m-b_1
                    %label.form_label.tx.__xs
                      %span.form_radio.form_el.__fake
                        %input.form_radio.form_el.__real{type: "radio", name: "radio2"}
                      &nbsp;
                      Банковский перевод

                  %article.basket_credit.tx.__xs
                    %p Кредитной картой через интернет (скидка 5%!)&nbsp;&mdash; При оплате за&nbsp;заказ кредитной картой прямо сейчас вы&nbsp;получите скидку&nbsp;5% на&nbsp;весь заказ! Оплата производится через сервис ChronoPay.

                  %a.form_button.__red.__l{href: "#"} Продолжить

            .basket_steps_i.__close
              .basket_steps_i_t{data: {number: 5}} Подтверждение
              .basket_steps_i_body
                .grid
                  .grid-i.__grid-4>
                    %article.tx.__xs
                      %p Ирина
                      %p Электронная почта: 89604724356@mail.ru
                      %p Телефон: 79604724356
                      %p Точное время доставки уточнит менеджер при&nbsp;согласовании деталей заказа
                  .grid-i.__grid-3>
                    %article.tx.__xs.m-b_2
                      .m-b_2
                        %dl.grid
                          %dt.grid-i.__grid-1> Цена:
                          %dd.grid-i.__grid-1>
                            %span.format-number 20990
                            руб.
                        %dl.grid
                          %dt.grid-i.__grid-1> Доставка:
                          %dd.grid-i.__grid-1>
                            %span.format-number 1063
                            руб.
                        %dl.grid
                          %dt.grid-i.__grid-1> Скидка:
                          %dd.grid-i.__grid-1>
                            %span.format-number 1400
                            руб.
                      %dl.grid
                        %dt.grid-i.__grid-1> Итого:
                        %dd.grid-i.__grid-1>
                          .price.__rub.__m.format-money
                            = rand(500..2000)
                    .m-b_1
                      %a.form_button.__red.__l.grid-i.__grid-2{href: "#"} Оформить
                    .form.form
                      %label.form_label.__m
                        %span.form_checkbox.form_el.__fake
                          %input.form_checkbox.form_el.__real{type: "checkbox"}
                        получать смс уведомления