%header#header.header.__yellow{role: "banner"}
  .ctn
    = haml 'views/layouts/_header'.to_sym

%main#main.main{role: "main"}

  %section.section.p-t_6.p-b_4{role: "region", "aria-label" => "Catalog"}
    .ctn
      %header.section_header.m-b_2
        .grid
          .grid-i.__grid-4>
            %h1.tx.__upper.__minor Каталог LEGO
            %nav.breadcrumbs
              %a.breadcrumbs_i{href: "/"} Главная
              %i.fa.fa-chevron-right
              %span.breadcrumbs_i Каталог
          .grid-i.__grid-8>
            = haml 'views/common/_catalog_filter_horz'.to_sym
      %section.section_main
        .grid
          .grid-i.__grid-3>
            = haml 'views/common/_catalog_filter_vert'.to_sym
          .grid-i.__grid-9>
            .catalog.__product.m-b_3
              - 1.upto(4) do
                .grid.catalog_row
                  - 1.upto(3) do
                    .grid-i.__grid-3>
                      = haml 'views/common/_catalog_item'.to_sym
            %nav.tx.__center
              = haml 'views/common/_catalog_pagination'.to_sym

  %section.blocks.p-t_5.p-b_6{role: "region", "aria-label" => "Summary info"}
    .ctn
      = haml 'views/common/_block_common'.to_sym