%header#header.header.__promo{role: "banner"}

  .header_bg
    .header_bg_i{data: {rel: "chima"}, style: "background-image: url(/assets/images/promo/bg-chima.png); display: block;"}
    .header_bg_i{data: {rel: "marvel"}, style: "background-image: url(/assets/images/promo/bg-marvel.png);"}

  .ctn
    = haml 'views/layouts/_header'.to_sym
    .promo.brick
      .promo_i{data: {rel: "chima"}, style: "display: block;"}
        %a{href: "#"}
          %img.promo_i_img{src: "/assets/images/promo/chima.png", width: "100%", alt: "Подарок королевства Чима"}
      .promo_i{data: {rel: "marvel"}}
        %a{href: "#"}
          %img.promo_i_img{src: "/assets/images/promo/marvel.png", width: "100%", alt: "Супергерои Lego"}

%section.promo-slider.__index
  .m-b_1
    = haml 'views/common/_slider_promo'.to_sym
  .tx.__center
    .share-block
      .share-block_a
        %a{href: "#"}
          Поделиться с друзьями
          %img{src: "/assets/images/heart.png", alt: ""}
      .share-block_pluso
        .pluso{data: {background: "transparent", options: "small,round,line,horizontal,nocounter,theme=04", services: "vkontakte,facebook,twitter,odnoklassniki,moimir,google", user: "1938787731"}}
        :javascript
          (function() {
          if (window.pluso)if (typeof window.pluso.start == "function") return;
          if (window.ifpluso==undefined) { window.ifpluso = 1;
            var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
            s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
            s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
            var h=d[g]('body')[0];
            h.appendChild(s);
          }})();

%main#main.main{role: "main"}
  %section.p-t_5.p-b_4{role: "region", "aria-label" => "Catalog"}
    .tabs
      .ctn
        %ul.tabs_list.grid.__no-gutter
          %li.tabs_i.grid-i.__grid-3>
            %a.tabs_i_a.__white{href: "#tabs-1"}
              %i.ico.__35.__new
              Наши новинки
          %li.tabs_i.grid-i.__grid-3>
            %a.tabs_i_a.__red{href: "#tabs-2"}
              %i.ico.__35.__percent
              Распродажа
          %li.tabs_i.grid-i.__grid-3>
            %a.tabs_i_a.__green{href: "#tabs-3"}
              %i.ico.__35.__star
              Эксклюзивы
          %li.tabs_i.grid-i.__grid-3>
            %a.tabs_i_a.__orange{href: "#tabs-4"}
              %i.ico.__35.__hellip
              Все серии
        #tabs-1
          .catalog.__product
            .m-b_4
              - 1.upto(4) do
                .grid.catalog_row
                  - 1.upto(2) do
                    .grid-i.__grid-3>
                      = haml 'views/common/_catalog_item'.to_sym
                    .grid-i.__grid-3>
                      = haml 'views/common/_catalog_item_half'.to_sym
            .catalog_all.beta
              %a.tx.__minor{href: "#"}
                Показать все новинки
                %i.fa.fa-chevron-right
        #tabs-2
          .catalog.__product
            .m-b_4
              - 1.upto(4) do
                .grid.catalog_row
                  - 1.upto(2) do
                    .grid-i.__grid-3>
                      = haml 'views/common/_catalog_item_half'.to_sym
                    .grid-i.__grid-3>
                      = haml 'views/common/_catalog_item'.to_sym
            .catalog_all.beta
              %a.tx.__minor{href: "#"}
                Показать все новинки
                %i.fa.fa-chevron-right
        #tabs-3
          .catalog.__product
            .m-b_4
              - 1.upto(4) do
                .grid.catalog_row
                  - 1.upto(2) do
                    .grid-i.__grid-3>
                      = haml 'views/common/_catalog_item'.to_sym
                    .grid-i.__grid-3>
                      = haml 'views/common/_catalog_item_half'.to_sym
            .catalog_all.beta
              %a.tx.__minor{href: "#"}
                Показать все новинки
                %i.fa.fa-chevron-right
        #tabs-4
          .catalog.__product
            .m-b_4
              - 1.upto(4) do
                .grid.catalog_row
                  - 1.upto(4) do
                    .grid-i.__grid-3>
                      = haml 'views/common/_catalog_item'.to_sym
            .catalog_all.beta
              %a.tx.__minor{href: "#"}
                Показать все новинки
                %i.fa.fa-chevron-right

  %section.blocks.p-t_5.p-b_6{role: "region", "aria-label" => "Summary info"}
    .ctn
      .m-b_6
        = haml 'views/common/_block_about'.to_sym
      = haml 'views/common/_block_summary'.to_sym