!!!
%html.no-js{lang: 'ru-RU'}
  %head
    %title Сеть магазинов Lego
    = Haml::Engine.new(File.read('views/layouts/_head.haml')).render

  %body#page.page
    = Haml::Engine.new(File.read('views/alerts/_ie.haml')).render
    = Haml::Engine.new(File.read('views/alerts/_no-js.haml')).render

    %header#header.header{role: 'banner'}

      .header_bg
        .header_bg_i{data: {rel: 'chima'}, style: 'background-image: url(/assets/images/promo/bg-chima.png); display: block;'}
        .header_bg_i{data: {rel: 'marvel'}, style: 'background-image: url(/assets/images/promo/bg-marvel.png);'}

      .ctn
        = Haml::Engine.new(File.read('views/layouts/_header.haml')).render
        .p-t_5.p-b_5
          = Haml::Engine.new(File.read('views/common/_single_slider.haml')).render

    %section.section.__carousel
      .ctn
        .m-b_1
          = Haml::Engine.new(File.read('views/common/_carousel.haml')).render
        .main-share.tx.__center
          = Haml::Engine.new(File.read('views/common/_share.haml')).render

    %main#main.main{role: 'main'}
      %section.p-t_5.p-b_4{role: 'region', 'aria-label' => 'Catalog'}
        .tabs
          .ctn
            %ul.tabs_list.grid.__no-gutter
              %li.tabs_i.grid-i.__grid-3>
                %a.tabs_i_a.__white{href: '#tabs-1'}
                  %i.ico.__35.__new
                  Наши новинки
              %li.tabs_i.grid-i.__grid-3>
                %a.tabs_i_a.__red{href: '#tabs-2'}
                  %i.ico.__35.__percent
                  Распродажа
              %li.tabs_i.grid-i.__grid-3>
                %a.tabs_i_a.__green{href: '#tabs-3'}
                  %i.ico.__35.__star
                  Эксклюзивы
              %li.tabs_i.grid-i.__grid-3>
                %a.tabs_i_a.__orange{href: '#tabs-4'}
                  %i.ico.__35.__hellip
                  Все серии
            #tabs-1
              .catalog.__product
                .m-b_4
                  - 1.upto(4) do
                    .grid.catalog_row
                      - 1.upto(2) do
                        .grid-i.__grid-3>
                          = Haml::Engine.new(File.read('views/common/_catalog_item.haml')).render
                        .grid-i.__grid-3>
                          = Haml::Engine.new(File.read('views/common/_catalog_item_half.haml')).render
                .catalog_all.beta
                  %a.tx.__minor{href: '#'}
                    Показать все новинки
                    %i.fa.fa-chevron-right
            #tabs-2
              .catalog.__product
                .m-b_4
                  - 1.upto(4) do
                    .grid.catalog_row
                      - 1.upto(2) do
                        .grid-i.__grid-3>
                          = Haml::Engine.new(File.read('views/common/_catalog_item_half.haml')).render
                        .grid-i.__grid-3>
                          = Haml::Engine.new(File.read('views/common/_catalog_item.haml')).render
                .catalog_all.beta
                  %a.tx.__minor{href: '#'}
                    Показать все новинки
                    %i.fa.fa-chevron-right
            #tabs-3
              .catalog.__product
                .m-b_4
                  - 1.upto(4) do
                    .grid.catalog_row
                      - 1.upto(2) do
                        .grid-i.__grid-3>
                          = Haml::Engine.new(File.read('views/common/_catalog_item.haml')).render
                        .grid-i.__grid-3>
                          = Haml::Engine.new(File.read('views/common/_catalog_item_half.haml')).render
                .catalog_all.beta
                  %a.tx.__minor{href: '#'}
                    Показать все новинки
                    %i.fa.fa-chevron-right
            #tabs-4
              .catalog.__product
                .m-b_4
                  - 1.upto(4) do
                    .grid.catalog_row
                      - 1.upto(4) do
                        .grid-i.__grid-3>
                          = Haml::Engine.new(File.read('views/common/_catalog_item.haml')).render
                .catalog_all.beta
                  %a.tx.__minor{href: '#'}
                    Показать все новинки
                    %i.fa.fa-chevron-right

      %section.blocks.p-t_5.p-b_6{role: 'region', 'aria-label' => 'Summary info'}
        .ctn
          .m-b_6
            = Haml::Engine.new(File.read('views/common/_block_about.haml')).render
          = Haml::Engine.new(File.read('views/common/_block_summary.haml')).render

    = Haml::Engine.new(File.read('views/layouts/_footer.haml')).render